.main{
	margin: 0 auto;
	position: relative;
	width: 30%;
	margin-left: 35%;
	border: 2px solid grey;
	padding: 20px;
}
#main2{
	margin: 0 auto;
	position: relative;
	width: 30%;
	margin-left: 35%;
	border: 2px solid grey;
	padding: 20px;
}