*{
	margin:0;
	padding: 0;
}

#web{
	background-color: lightblue;
	text-transform: uppercase;
	width: 300px;
	border:5px solid black;
	color: white;

}
nav{
	background-color: blue;

	width: 300px;
}

a{
	display: inline-block;
}
a:hover{
	color: orange;
}

img:hover{
	width: 300px;
	height: 100px;
}
footer p:hover{
	visibility:hidden;
}

